.App {
  text-align: center;
  margin: 30px 10px;
}
.App button{
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
span.rank{
  text-transform: uppercase;
}
.hand{
  font-size: 20px;
}
.card{
  vertical-align: top;
}


